.Nav {
  border-bottom: 1px solid #ccc;
  text-align: right;
}
.Logo {
  float: left;
}
.NavLinks a, .Logo {
  padding: 15px;
  display: inline-block;
  text-decoration: none;
  color: #3cf;
}

.NavLinks a:hover, .Logo:hover {
  color: #DC381F;
}

.Button {
  background-color: #3cf;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.Button:hover, .Button:visited {
  color: #fff;
}
